* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

/* App component */
/* header and navbar */
nav {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  border: none;
  margin: 0 25px;
}

.rec-title {
  text-align: center;
  margin: 45px 0 0 0;
  font-family: 'Cinzel', serif;
}
.subtitle {
  text-align: center;
  font-size: 25px;
  margin: 30px 0 30px 0;
  font-family: 'Cinzel', serif;
}

.main-subtitle {
  margin-top: 0;
}

/* Recommendations component */
.new-reads {
  font-size: 40px;
}

.rec-box-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rec-box {
  border: 1px solid #D9D9D9;
  margin: 20px;
  width: 300px;
  height: 500px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #aba8a885;
}

.rec-booklist {
  height: 470px;
  padding: 0 15px 30px 15px;
  overflow: scroll;
}

.rec-button-parent {
  display: flex;
  justify-content: center;
}

.main-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mini-book {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: .5px solid lightgray;
  width: 190px;
}


.book-img-parent {
  display: flex;
  justify-content: space-between;
}

.book-img {
  align-self: center;
  width: 50px;
  height: auto;
}

.rec-book-title {
  background-color: none;
  border: none;
  padding: 0;
  font-size: 20px;
  color: black;
}
.rec-author {
  font-size: 10px;
  color: #808080;
}

.browse {
  font-family: 'Cinzel', serif;
  font-size: 18px;
  border-bottom: .5px solid grey;
  padding: 9px 15px;
}

.badge {
  width: 35px;
  height: 15px;
  font-size: 8px;
  padding: 0;
  cursor: pointer;
}

.badge-read {
  color: red;
  cursor: not-allowed;
  background-color: lightgray;

}

/* AddBook component */
.add-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addbook-box {
  padding: 40px 30px;
  width: 400px;
  height: 400px;
  border: .5px solid lightgray;
  border-radius: 7px;
}

.form-control, .custom-select {
  margin-top: 5px;
  border-style: none;
  border-bottom: .5px solid lightgray;
}

.custom-select {
  padding-top: 10px;
  margin-top: 5px;
  color: #8c8c8c;
  background-color: white;
}

.add {
  width: 100%;
}

.quote {
  margin-top: 80px;
  font-size: 50px;
  font-family: 'Reenie Beanie', cursive;
}
.quote-author {
  margin-top: 0;
  font-size: 40px;
}

/* Favorites component */
/* Only one copy of this */
.favorites-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* 1 copy for each book */
.individual-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 320px;
  width: 215px;
  margin: 18px;
  padding: 0px;
  text-align: center;
  border: 1px solid #c6c9cc;
  background-color: #E8EEF6;
}

.book-parent {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.book {
  width: 115px;
  height: 180px;
  background: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 5px;
}

.readtext {
  position:absolute;
  top: 50px;
  font-size: 40px;
  color: white;
  font-family: 'Cinzel', serif;
  z-index: 20;
}

/* only show when book is read */
.read {
  position:absolute;
  top: 50px;
  height: 50px;
  width: 100%;
  background-color: green;
  opacity: .8;
}
/* on click change book to read */
.bookemoji {
  cursor: pointer;
  position: absolute;
  background-color: #E8EEF6;
  border: none;
  right: 10px;
}
/* .book-details {
  overflow: scroll;
} */
.text-box {
  padding: 10px;
  background-color: white;
}

.favorite-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
}


/* edit and delete buttons */
.fav-child-btn {
  margin: 0 3px;
  padding: 0px;
  width: 55px;
  height: 25px;
  border-radius: 3px;
  background-color: #4e535a;
  border-color: #4e535a;
}

.fav-child-btn:hover {
  background-color: #808080;
  border-color: #808080;
}

/* styling each book in favorites page  */
.author {
  margin-top: -3px;
  font-size: 15px;
}
.title {
  font-size: 18px;
}
.genre {
  font-size: 14px;
  color: grey;
  font-style: oblique;
}
.rec {
  margin-top: 5px;
  font-size: 13px;
}
.modal-body {
  width: 500px;
}
