* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

/* App component */
/* header and navbar */
nav {
  display: flex;
  justify-content: space-between;
}

.nav-button {
  border: none;
  margin: 0 25px;
}

.rec-title {
  text-align: center;
  margin: 45px 0 30px 0;
  font-family: 'Bad Script', cursive;
}

/* Recommendations component */
.rec-box-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rec-box {
  border: 1px solid #D9D9D9;
  margin: 20px;
  width: 300px;
  height: 500px;
}
.rec-button-parent {
  display: flex;
  justify-content: center;
}

/* AddBook component */
.add-parent {
  text-align: center;
}
.book-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Book component */
.book {
  border: 1px solid grey;
  width: 250px;
  height: 400px;
  margin: 20px;
}